
<form 
[formGroup] = "form"
>

  <!-- <div  class="addItem">
    <input    type="text" placeholder="decimel" name="decimel" formControlName="decimel"  (ngModelChange)="decimelChange(oldvalule, decimal= $event)" /> <br>
    <input    type="text" placeholder="binary" name="binary" formControlName="binary" (ngModelChange)="binaryChange(oldvalule, decimal= $event)"  /> <br> 
    <input    type="text" placeholder="octa" name="octa" formControlName="octa" (ngModelChange)="octaChange(oldvalule, decimal= $event)"/> <br>
    <input    type="text" placeholder="hexa" name="hexa" formControlName="hexa" (ngModelChange)="hexaChange(oldvalule, decimal= $event)"/> <br>
  </div>    --> 
</form>